@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --main-color: #000000;
    --sub-color: #ffffff;
    --black-color: #000000;
    --white-color: #ffffff;
    --neutral-30-color: #fafbfc;
    --neutral-50-color: #f4f5f8;
    --neutral-100-color: #eeeff3;
    --neutral-150-color: #e3e5ea;
    --neutral-200-color: #dcdee3;
    --neutral-300-color: #c8ccd3;
    --neutral-400-color: #9ca3af;
    --neutral-500-color: #6b7280;
    --neutral-600-color: #4b5363;
    --neutral-700-color: #374051;
    --neutral-800-color: #1f2637;
    --neutral-900-color: #111827;
    --error-15-color: #ea697126;
    --error-100-color: #ea6971;
    --error-135-color: #f8cfd2;
    --error2-100-color: #f03063;
    --warning-100-color: #ff7641;
    --warning2-100-color: #ffc63c;
    --success-100-color: #5dd8ab;
    --info-15-color: #e4f1fe;
    --info-35-color: #c6e1fd;
    --info-100-color: #4da2f8;
    --order-pink-color: #f03063;
    --order-purple-color: #895ef7;
    --order-gray-color: #9ca3af;
    --link-color: '#9fa7b6';
  }
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

/* base rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  user-select: none;
  -webkit-user-drag: none;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  line-height: 1;
  letter-spacing: 0.01em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
}

b,
strong {
  font-weight: normal;
}

button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

input {
  outline: none;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
}

header {
  width: 100vw;
  height: 100px;
  padding: 20px 200px;
  background-color: #000;
  color: #fff;
  position: fixed;
  z-index: 100;
}

footer {
  width: 100vw;
  height: 400px;
  padding: 20px 200px;
  background-color: #000;
  color: #fff;
  z-index: 100;
}
