@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --main-color: #000000;
    --sub-color: #ffffff;
    --black-color: #000000;
    --white-color: #ffffff;
    --neutral-30-color: #fafbfc;
    --neutral-50-color: #f4f5f8;
    --neutral-100-color: #eeeff3;
    --neutral-150-color: #e3e5ea;
    --neutral-200-color: #dcdee3;
    --neutral-300-color: #c8ccd3;
    --neutral-400-color: #9ca3af;
    --neutral-500-color: #6b7280;
    --neutral-600-color: #4b5363;
    --neutral-700-color: #374051;
    --neutral-800-color: #1f2637;
    --neutral-900-color: #111827;
    --error-15-color: #ea697126;
    --error-100-color: #ea6971;
    --error-135-color: #f8cfd2;
    --error2-100-color: #f03063;
    --warning-100-color: #ff7641;
    --warning2-100-color: #ffc63c;
    --success-100-color: #5dd8ab;
    --info-15-color: #e4f1fe;
    --info-35-color: #c6e1fd;
    --info-100-color: #4da2f8;
    --order-pink-color: #f03063;
    --order-purple-color: #895ef7;
    --order-gray-color: #9ca3af;
    --link-color: '#9fa7b6';
  }
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

/* base rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  max-width: 1520px;
  height: 70px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100vw;
  padding: 3rem 0;
}
